<%- include("../views/partials/header") %></form>

<form action="/clucks" method="POST">
  <div>
    <input type="text" name="title" placeholder="img url" />
  </div>

  <div>
    <textarea name="body" cols="60" rows="8"placeholder="Whatever is on your noggin'"></textarea>
  </div>

  <input type="submit" value="Submit">
</form>

<%- include("../views/partials/footer") %>